.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #545454;
}
.home-text10 {
  color: rgb(114, 131, 162);
  text-align: center;
}
.home-link {
  display: contents;
}
.home-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
