.button-section-container1 {
  display: contents;
}
 
.button-section-container2 {
  display: none;
}
 
.button-section-container3 {
  display: contents;
}
 
.button-section-container4 {
  display: none;
}
 
.button-section-container5 {
  display: contents;
}
