.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-btn-elm10 {
  text-decoration: none;
}
 
.home-thq-btn-elm11 {
  text-decoration: none;
}
 
.home-thq-btn-elm12 {
  text-decoration: none;
}
 
.home-thq-btn-elm13 {
  text-decoration: none;
}
 
.home-thq-btn-elm14 {
  text-decoration: none;
}
 
.home-thq-btn-elm15 {
  text-decoration: none;
}
 
.home-thq-btn-elm16 {
  text-decoration: none;
}
 
.home-thq-btn-elm17 {
  text-decoration: none;
}
 
.home-thq-btn-elm18 {
  text-decoration: none;
}
 
.home-thq-btn-elm19 {
  text-decoration: none;
}
 
.home-thq-btn-elm20 {
  text-decoration: none;
}
 
.home-thq-btn-elm21 {
  text-decoration: none;
}
 
.home-thq-showcase-overlay-elm1 {
  backdrop-filter: blur(5px);
}
 
.home-thq-showcase-link-elm1 {
  text-decoration: none;
}
 
.home-thq-showcase-link-elm2 {
  text-decoration: none;
}
 
.home-thq-showcase-link-elm3 {
  text-decoration: none;
}
 
.home-thq-showcase-link-elm4 {
  text-decoration: none;
}
 
.home-thq-showcase-link-elm5 {
  text-decoration: none;
}
 
.home-thq-showcase-link-elm6 {
  text-decoration: none;
}
 
.home-thq-btn-elm22 {
  text-decoration: none;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-container4 {
  display: none;
}
 
.home-container5 {
  display: contents;
}
 
.home-container6 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon51 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text23 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
