.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-social-icon-elm1 {
  text-decoration: none;
}
 
.footer-thq-footer-social-icon-elm2 {
  text-decoration: none;
}
 
.footer-thq-footer-social-icon-elm3 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm2 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm3 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm4 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm5 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm6 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm7 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm8 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-thq-footer-nav-link-elm9 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-thq-footer-bottom-links-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}
